<div class="">
    <div class="">Hello
        <%= full_name %>,</div>
    <div class="">
        <p>
            <%= answer %>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Regards,
        <br>Team HIS</div>
</div>