<div class="">
    <div class="">Hi
        <%= name %>,</div>
    <div class="">
        <p>Your
            <%= role %> Account has been Created</p>
    </div>
    <div class="">Here's your Account Details:<br>
        <span>Email: <b><%= email %></b></span><br>
        <span>Password: <b><%= password %></b></span>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">Goldman Prestige</div>
</div>