<% layout(layout_directory+'/mainLayout') -%>
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <%= page_title %>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active"><%= page_title %></span>
            </div>
        </div>
    </div>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <div class="kt-portlet">
                    <form class="kt-form kt-form--label-right" id="languageFrm" action="<%= generateUrl('language.store') %>" method="POST" enctype="multipart/form-data">
                        <div class="kt-portlet__body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Title:</label>
                                    <input type="text" name="title" id="title" class="form-control required" required placeholder="Enter Language Name" value="">
                                </div>
                                <div class="col-lg-6">
                                    <label>Shortcode:</label>
                                    <input type="text" name="shortcode" id="shortcode" class="form-control required" required placeholder="Enter Language Code" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <input type="file" name="icon" id="icon" class="form-control imagepickerWithPreviewId" data-previewelement="iconPreview">
                                </div>
                                <div class="col-lg-6">
                                    <img class="iconImage" id="iconPreview" height="80px" src="">
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="<%= generateUrl('language.list') %>" class="btn btn-secondary">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>